.ct-header {
  @include displayFlex();
  width: 100vw;
  height: 53px;
  background-color: $colorSecondary;
  justify-content: space-between;
}

.img-logo {
  filter: $filterPrincipal;
  width: 4%;
  margin-left: 20%;
  margin-top: 25px;
}

.txtColor1 {
  //font-size: 1.5rem;
  color: $colorPrincipal;
  text-decoration: none;
  margin-right: 5%;
  margin-top: 10px;
}

.txtColor2 {
  font-size: 1.5rem;
  color: yellow;
  text-decoration: none;
  margin-right: 5%;
}

.txt-title {
  color: $colorPrincipal;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}
